
#navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

#navbar-menu li {
    cursor: pointer;
}

@media (max-width: 1050px) {
    .logo {
        width: 140px;
    }
    #navbar-menu {
        font-size: 17px;
    }
    #navbar-right {
        gap: 30px;
    }
    #navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .logo {
        width: 120px;
    }
    #navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    #navbar-right {
        gap: 20px;
    }
    #navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    #navbar-menu {
        display: none;
    }
}


.navbar li.relative {
    position: relative;
  }
  
  .navbar li.relative .dropdown-menu {
    left: 50%;
    transform: translateX(-50%) rotateX(-90deg);
    top: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }
  
  
  .navbar li.relative:hover .dropdown-menu {
    transform: translateX(-30%) rotateX(0deg);
    opacity: 1;
    visibility: visible;
  }
   


